body{
  margin:0;
}

#data {
  position: absolute;
  z-index: 2;
  background-color: aliceblue;
  width: 100%;
}

#data.true{
  background: green;
}

#data.false{
  background: red;
}

#demo{
  margin: 2px;
  font-size: 12px;
  text-align: center;
}

#result{
  padding: 10px 30px;
  background-color: grey;
  display: inline-block;
  color: white;
  font-size: 24px;
}

#map{
  width:100%;
  height: 100vh;
}
