body{
  margin:0;
}

#data {
  position: absolute;
  z-index: 2;
  background-color: aliceblue;
  width: 100%;
}

#data.true{
  background: green;
}

#data.false{
  background: red;
}

#demo{
  margin: 2px;
  font-size: 12px;
  text-align: center;
}

#result{
  padding: 10px 30px;
  background-color: grey;
  display: inline-block;
  color: white;
  font-size: 24px;
}

#map{
  width:100%;
  height: 100vh;
}

.leaflet-marker-pane > * , .leaflet-container .leaflet-overlay-pane svg{
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -o-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
  transition: transform .3s linear;
}
