#marker-found.spinning .rnd-img-container{
  -webkit-animation-name: spinner;
-webkit-animation-timing-function: linear;
-webkit-animation-duration: .8s;
-webkit-animation-fill-mode: forwards;
animation-name: spinner;
animation-timing-function: linear;
animation-fill-mode: forwards;
animation-duration: .8s;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
    to
    {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        opacity: 0;
    }
}
